*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    background: black;
    width: 99%;
    height: 42px;
    margin :8px;
    justify-content: center;
    align-items: center;
}
header{
    background:green;
    height: 300px;
    margin :8px;
}
aside{
    margin :8px;
    float: left;
    width:19% ;
    height: 500px;
    background: brown;
}
article{
    margin :8px;
    float: left;
    width:58% ;
    height: 500px;
    background: gainsboro;
}
section{
    margin :8px;
    float: left;
    margin-bottom: 8px; 
    width:19% ;
    height: 500px;
}
footer{
    clear: both;
    width: 99% ;
    height: 50px;
    background: gray;
    margin :8px;
}
#A1{
    margin-left: 8px;
    margin-bottom: 10.5px;
    width:100% ;
    height: 117px;
    background: violet;
}
#A2{
    margin-left: 8px;
    margin-bottom:10.5px; 
    width:100% ;
    height: 117px;
    background: orange;
}
#A3{
    margin-left: 8px;
    margin-bottom: 10.5px;
    width:100% ;
    height: 117px;
    background: lightskyblue;
}
#A4{
    margin-left: 8px;
    margin-bottom: 10.5px; 
    width:100% ;
    height: 117px;
    background: pink;
}
body{
    background: black;
}
ul{
    display: flex;
}
li{
    margin-right: 20px;
}
li A{
    text-decoration: none;
    color: blanchedalmond;
}
table, th, td {
    border:1px solid black;
  }