*{
    margin: 0;
    padding: 0;
}
table{
    margin: 20px auto;
    width: 90%;
}
#head{
    text-align: left;
}
input[type=text]{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: wheat;
}
td,th{
    text-align: center;
}