*{
    margin: 0;
    padding: 0;
}
nav{
    height: 60px;
    width: 100%;
    position: absolute;
    position: fixed;
    z-index: 1;
    background: rgba(50, 52, 50, 0.3);
    
}
ul{

}
li{
    float: left;
    list-style: none;
    color: wheat;
    margin: 20px;
}
#first{
    margin-left: 40px;
}
#back{
    float: right;
    list-style: none;
}
li a{
    text-decoration: none;
    color: wheat;
}
li a:hover{
    text-decoration: none;
    color: rgb(158, 143, 116);
}